*.swp
*.o
*.a
*.Po
autom4te.cache/
config.log
config.status
create_gcov
create_llvm_prof
dump_gcov
glog/src/stamp-h1
glog/src/config.h
glog/src/glog/logging.h
glog/src/glog/raw_logging.h
glog/src/glog/stl_logging.h
glog/src/glog/vlog_is_on.h
profile_diff
profile_merger
profile_update
sample_merger
